.logo img{
    width:90px;
    height:90px;
    border-radius:50%;
    background:white;
    padding:5px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
    transition:0.4s ease;
}
.logo img:hover{
    transform:scale(1.08);
}
            :root{
  --plp-blue:#0d6efd;
  --plp-green:#1faa59;
  --plp-dark:#0f172a;
  --plp-light:#f4f9ff;
  --plp-white:#ffffff;
  --primary: #6c5ce7;
  --secondary: #00cec9;
  --dark: #111;
  --light: #f4f4f4;
  --text: #333;
  --white: #fff;


}
        html {
            
    background: linear-gradient(
      to right,
      #f4f9ff,
      #e8f5ee
    );}

.leaders-section{
  padding:100px 10%;
  
  background:#fff;
}

.leaders-title{
  text-align:center;
  font-size:48px;
  margin-bottom:50px;
}

/* X-axis slider */
.leaders-slider{
  display:flex;
  gap:10px;
  
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  padding-bottom:20px;
  scroll-behavior:smooth;
}

/* Hide scrollbar */
.leaders-slider::-webkit-scrollbar{
  display:none;
}

/* Card */
.leader-card{
  min-width:280px;
  flex:0 0 auto;
  justify-items: center;
  background:white;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  scroll-snap-align:center;
  text-align:center;
  transition:0.3s;
}

.leader-card:hover{
  transform:scale(1.05);
}

.leader-card img{
  width:100%;
  height:260px;

  object-fit:fill;
  border-radius:20px 20px 0 0;
}

.leader-card h3{
  color:#0d6efd;
  margin:10px 0 5px;
}
html{
            scroll-behavior: smooth;
           overflow-x: hidden;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        .logo-area{
            justify-content: flex-start;}
          .header-container{
           display: flex;
            justify-content: space-between;
            padding-top: 10px;
            background: transparent;
     
backdrop-filter: blur(10px);

position: sticky;
top: 0;
z-index: 1000;
          }
    
/* HERO */

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
    background:linear-gradient(to right,black,transparent);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero p{
    color:black;
    font-size:18px;
}

/* FOOTER */

.footer{
    padding:70px 8%;
}

.footer-container{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

/* LEFT */

.footer-left{
    flex:1;
    min-width:320px;
}

.footer-left h2{
    margin-bottom:20px;
    font-size:32px;
    
}

.video-box{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    padding:15px;
    border-radius:25px;
    box-shadow:0 0 30px rgba(255,0,255,0.3);
}

.video-box iframe{
    width:100%;
    height:320px;
    border:none;
    border-radius:20px;
}

.address{
    margin-top:25px;
    padding:25px;
    border-radius:25px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 20px rgba(0,255,255,0.2);
}

.address h3{
    margin-bottom:15px;

}

.address p{
    line-height:2;

}

/* RIGHT LOGIN */

.footer-right{
    flex:1;
    min-width:320px;
}

.login-card{
    padding:45px;
    border-radius:30px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:
    0 0 25px rgba(255,0,255,0.3),
    0 0 45px rgba(0,255,255,0.2);
}

.login-card h2{
    text-align:center;
    margin-bottom:30px;
    font-size:34px;
    background:linear-gradient(to right,#00dbde,#fc00ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.login-card form{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.login-card input{
    padding:16px 20px;
    border:none;
    outline:none;
    border-radius:14px;
    background:rgba(255,255,255,0.1);
 
    font-size:15px;
    transition:0.3s;
}

.login-card input::placeholder{
    color: black;
}

.login-card input:focus{
    transform:scale(1.02);
    border:1px solid #38bdf8;
    box-shadow:0 0 15px #38bdf8;
}

.login-card button{
    padding:16px;
    border:none;
    border-radius:15px;
    background:linear-gradient(to right,#ff00cc,#3333ff);
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
}

.login-card button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #ff00cc;
}

#error{
    text-align:center;
    font-size:14px;
    margin-top:5px;
    color:#f87171;
}

.success{
    color:#4ade80;
}

/* FOOTER BOTTOM */

.bottom{
    margin-top:60px;
    text-align:center;
    color:#94a3b8;
    border-top:1px solid rgba(255,255,255,0.1);
    padding-top:25px;
}

/* RESPONSIVE */

@media(max-width:900px){

    .footer-container{
        flex-direction:column;
    }

    .hero h1{
        font-size:42px;
    }

}

@media(max-width:600px){

    .video-box iframe{
        height:220px;
    }

    .login-card{
        padding:30px 20px;
    }

}

          .nav_links{
             display: flex;
    gap: 20px;
    padding-right: 10px;
    padding-top: 18px;
          }
.nav_links a{
    text-decoration:none;
    font-size:18px;
    color:var(--plp-dark);
    font-weight:600;
    transition:0.3s ease;
}

.nav_links a:hover{
    color:var(--plp-green);
}
/* PORTFOLIO SECTION */
.section-portfolio {
  padding: 120px 60px;
  background-image: url("images/y2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  
  background:
  linear-gradient(
    rgba(15,23,42,0.85),
    rgba(15,23,42,0.85)
  ),
  url("images/y2.jpg");

}
.section-portfolio .section-title{
   color:white;
}
.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.portfolio-item {
  aspect-ratio: 16/10;
  background: #222;
  border: 1px solid #2a2a2a;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.portfolio-item:hover{
    transform:translateY(-8px);
    transition:0.4s ease;
}
.portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #000 0%, transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.portfolio-item:hover::before {
  opacity: 0.4;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background: linear-gradient(
    180deg,
    transparent 0%,
    rgba(18, 18, 18, 0.98) 100%
  );
  transform: translateY(20px);
  transition: transform 0.3s ease;
  z-index: 2;
}

.portfolio-item:hover .portfolio-label {
  transform: translateY(0);
}

.portfolio-label h3 {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 700;
  color: white;
}

.portfolio-label p {
   padding-top: 10px;
  font-size: 13px;
  color: #777;
}

.nav_links a{
    text-decoration: none;
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 150px;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.hero_container{
    max-width: 1200px;
    margin: 80px auto;
    padding: 40px;
}

/* SLIDER */
.slider-container{
 
    height: 500px;
    border-radius: 25px;
    padding-top: 0px;
   
    backdrop-filter: blur(15px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
  135deg,
  rgba(13,110,253,0.15),
  rgba(31,170,89,0.15)
);
box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

/* SLIDES */
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.slide.active{
    opacity: 1;
    

}

/* HERO TEXT */
.slide-title{
    font-size:70px;
    margin-bottom:20px;
    color:var(--plp-blue);
    font-weight:800;
}
.slide-content{
    font-size:20px;
    color:#333;
    width:60%;
}

/* DOTS */
.slider-dots{
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 12px;
}

.dot{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#ccc;
    border:none;
}

.dot.active{
    background:var(--plp-green);
    transform:scale(1.2);
}

section{
  padding:80px 10%;
}

.section-title{
  text-align:center;
  margin-bottom:50px;
}
.quote_container {
  
      backdrop-filter: blur(15px);
    
  
    background: linear-gradient(
  135deg,
  rgba(13,110,253,0.15),
  rgba(31,170,89,0.15)
);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.08);
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  
}
.quote_container:hover{
  transform:translateY(-8px);
    transition:0.4s ease;
}

.quote_container h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.daily_quote {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 18px;
  font-style: italic;
}

.quote_note {
  color: var(--text);
  opacity: 0.8;
}
.section-title h2{
  font-size:36px;
  
  margin-bottom:10px;
}

.section-title p{
  
  font-size:16px;
}

.section-about {
  padding: 120px 60px;

  background: white;


  background-image: url("#");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.about-content h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
}

.about-content p {

  margin-bottom: 24px;
  line-height: 1.9;
  font-size: 15px;
}

.about-content p a {
 
  text-decoration: underline;
  transition: color 0.3s ease;
}

.about-content p a:hover {
color: #222;
}

.about-blocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-block{
  padding:30px;
  background:#fff;
  border-left:5px solid var(--plp-blue);
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.about-block h4 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;

}

.about-block p {
  font-size: 13px;

  margin-bottom: 0;
}
.section-services{
  background:linear-gradient(
    to right,
    #f4f9ff,
    #e8f5ee
  );
   padding: 120px 60px;
}
.services-container {
 max-width: 1200px;
  margin: 0 auto;
}

.section-title{
  font-size:52px;
  font-weight:800;
  color:var(--plp-dark);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  border-radius: 10px;
}

.service-card{
   padding: 40px;
  background-color: white;
  border-right: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
   border-radius: 10px;
}
.service-card:hover{
   transform:translateY(-10px);
   border-bottom:4px solid var(--plp-green);
}
.service-card:nth-child(3n) {
  border-right: none;
}
.service-number{
  color:var(--plp-blue);
  font-weight:bold;
}
.service-card:nth-last-child(-n + 3) {
  border-bottom: none;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 0;
  background: linear-gradient(180deg, #555 0%, #333 100%);
  transition: height 0.3s ease;
}

.service-card:hover::before {
  height: 100%;
}

.service-number {
  font-size: 48px;
  font-weight: 300;
  color: #333;
  margin-bottom: 20px;
  font-family: "Courier New", monospace;
  position: relative;
  display: inline-block;
}

.service-card:hover .service-number {
  color: #555;
}

.service-number::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #555;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.service-card:hover .service-number::after {
  transform: scaleX(1);
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}

.service-card p {
  color: #999;
  font-size: 15px;
  line-height: 1.8;
}


